<h4>『<%=reserve.scenario_title%>』</h4>

<% if (reserve.public !== true) { %>
<span class="badge badge-secondary ml-2">非公開</span>
<% } %>
<% if (status === "after") { %>
<span class="badge badge-warning ml-2">上演終了</span>
<% } %>

<%
let mask = !user || reserve.owner._id !== user._id;
let start = moment(reserve.start_at).format("M/D (ddd) HH:mm~");
let place = C.RESERVE_PLACE[reserve.place];
let text = ""+reserve.scenario_title+"\n"
    +start+"@"+place+"\n\n"
;

for (let c of reserve.chara) {
    let sex = C.SEX_ICON[c.sex];
    let name = c.user ? c.user.twitter_name : "";
    text += c.name+sex+": "+name+"\n";
}
text += "\n";
%>
<div class="mt-4 text-right">
    <%- include("../module/tweet", {text:text, hash:title}) %>
</div>

<h5 class="mt-3">上演情報</h5>

<div class="reserve_basic_info ml-2">
    <div>
        主催: <a href="https://twitter.com/<%= reserve.owner.twitter_id %>">
            <i class="fab fa-twitter color_twitter"></i>
            <%= reserve.owner.twitter_name %>
        </a>
    </div>
    <div>時間：<%=start%>　約<%=reserve.minutes%>分</div>
    <div>場所：<%=place%></div>
    <div>
        台本: 『<%=reserve.scenario_title%>』
        <% if (reserve.author) { %>
            作:<%=reserve.author%>
        <% } %>
        <% if (reserve.url) { %>
            <a class="ml-2" href="<%=reserve.url%>"><i class="fas fa-external-link-alt"></i> 台本</a>
        <% } %>
        <% if (reserve.agree_url) { %>
            <a class="ml-2" href="<%=reserve.agree_url%>"><i class="fas fa-external-link-alt"></i> 規約</a>
        <% } %>
    </div>
</div>
