<%- include("../module/reserve_detail_top", {reserve:reserve}) %>

<%
let mask = !user || reserve.owner._id !== user._id;
let postedMvp = false;
for (let c of reserve.chara) {
    if (c.mvp && user && c.mvp.includes(user._id)) {
        postedMvp = true;
        break;
    }
}
let loginAlert = !user ?
    " </a>" : "" ;

if (!postedMvp) { %>
<div class="mt-4 alert alert-info" role="alert">
    MVP投票ができます。あなたの主観でMVPを決めてください！
    <% if (!user) { %>
    <br>投票するためには<a href="/twitter/login">ログイン</a>が必要です。
    <% } %>
</div>
<% } %>

<h5 class="mt-5">役表</h5>

<%
// 表示ループ
for (let c of reserve.chara) {
    // 未登録は仮ユーザーを表示
    if (!c.user) {
        c.user = {
            _id: "未登録"
            ,twitter_name: "未登録"
            ,skype_id: ""
            ,image_url_https: C.IMAGE_TWITTER_DEFAULT
        }
    }

    let mvp = c.mvp ? c.mvp.length : 0;

    let disabled = "";
    if (!user || (c.mvp && c.mvp.includes(user._id))) {
        disabled = " disabled";
    }
%>
<div class="chara mt-3 clearfix">
    <div class="mb-1 mt-2">
        <i class="fas fa-<%=C.SEX_CLASS[c.sex]%>"></i>&nbsp;<%=c.name%>役
        <% if (mvp) { %>
            <span class="badge badge-warning ml-2">
                <i class="fas fa-medal mr-1"></i><%=mvp%>
            </span>
        <% } %>
    </div>
    <%- include("../module/user", {user:c.user, mask:mask, mvp:false}) %>

    <% if (!postedMvp || disabled) { %>
    <form class="text-right" method="POST" action="/reserve/mvp/<%=reserve._id%>">
        <input type="hidden" name="chara" value="<%=c._id%>">
        <button type="submit" class="btn btn-sm bg_red" onclick="return confirm('<%=c.user.twitter_name%>さんにMVP投票します。');" <%=disabled%>>
            <i class="fas fa-medal mr-1"></i>MVP投票
        </button>
    </form>
    <% } %>
</div>
<% } %>
