<h4 class="mb-4">マッチング</h4>

<% if (!registered) { %>
    <div class="alert alert-danger" role="alert">
        右上のアイコンから性別、Skype IDを登録してください
    </div>
<% } %>

<div class="ml-4">
    <h6>参加条件</h6>
    <div class="ml-4">
        <p>
        <%- include("./module/ok_ng", {"bool":registered}) %>
        性別、Skype IDが登録済み
        </p>

        <p>
        <%- include("./module/ok_ng", {"bool":twitter_safe}) %>
        Twitterの登録日が半年以上前
        </p>
    </div>
</div>

<%
disabled = {};
for (let k of Object.keys(isReady)) {
    disabled[k] = isReady[k] ? "" : "disabled";
}
%>
<div class="mt-5">
    <h6 class="ml-4">開始ボタン</h6>
    <div class="mt-3 text-center">
    <form class="d-inline" method="POST" action="/entry/">
        <input type="hidden" name="entry_type" value="act2">
        <button type="submit" class="btn bg_red" <%= disabled.act2 %>>サシ劇</button>
    </form>
    <form class="d-inline ml-2" method="POST" action="/entry/">
        <input type="hidden" name="entry_type" value="act3_7">
        <button type="submit" class="btn bg_red" <%= disabled.act3_7 %>>3~7人劇</button>
    </form>

    <%
    let shiny = disabled.event ? "" : "shiny";
    if (event) { %>
    <form class="d-inline ml-2" method="POST" action="/entry/">
        <input type="hidden" name="entry_type" value="event">
        <button type="submit" class="btn bg_red <%=shiny%>" <%=disabled.event%>>イベント劇</button>
    </form>
    <% } %>

    </div>
</div>

<p class="mt-3 text-center text-secondary">※マッチングは30分間有効です。</p>
<p class="mt-1 text-center text-secondary">※3-7人劇は21:00, 22:00の毎日2回行います。</p>
<% if (event) { %>
    <%- include("./module/event_explain", {}) %>
<% } %>
