<%
let match_text;
// TODO
if (entry.type.includes("act2")) {
    match_text = C.ENTRY_TYPE_TEXT["act2"]+"マッチング";
} else if (entry.type.includes("act3_7")) {
    match_text = C.ENTRY_TYPE_TEXT["act3_7"]+"マッチング";
} else if (entry.type.includes("event")) {
    match_text = event.title;
}
%>

<h4 class="mb-4"><%=match_text%></h4>

<% if (entry.tags && entry.tags.length > 0) { %>
<div class="ml-3">
    タグ:
    <% for (let tag of entry.tags) { %>
        <span class="badge badge-pill badge-warning ml-1 add_tag"><%=tag%></span>
    <% } %>
</div>
<% } %>

<div class="mt-5 ml-3">
    <p>ただいま、マッチング中です。</p>
    <p>しばらくお待ち下さい。</p>
</div>

<%# TODO %>
<div class="mt-5 ml-3">
    <% for (let type of entry.type) { %>
    <p>現在の待ち: <%=entryCount[type]%>人</p>
    <% } %>
</div>

<%# <div class="mt-5 loading"></div> %>

<div class="mt-5">
<form method="POST" action="/entry/cancel">
    <p class="text-center"><button type="submit" class="btn bg_orange">キャンセル</button></p>
</form>
</div>

<div class="mt-5">
    <p class="text-center text-secondary">※画面を離れてもマッチングは継続されます。</p>
    <p class="text-center text-secondary">※このマッチングは<%=entry_expiration%>まで有効です。</p>
</div>

<% if (event) { %>
    <%- include("../module/event_explain", {}) %>
<% } %>

<script>
(() => {
setTimeout(() => {
    location.reload();
}, 1000 * 60);
})();
</script>
